<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <article id="declarative_rendering">
    <header>
      <h1>
        1. Declarative Rendering
      </h1>
    </header>

    <div id="app">
      {{ message }}
    </div>

    <script>
      let app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })
    </script>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <script>
      let app2 = new Vue({
        el: '#app-2',
        data: {
          message: 'You loaded this page on ' + new Date().toLocaleString()
        }
      })
    </script>
  </article>

  <!-- 2. Conditionals and Loops -->
  <article id="conditionals_and_loops">
    <header>
      <h1>
        2. Conditionals and Loops
      </h1>
    </header>

    <div id="app-3">
      <p v-if="seen">
        Now you see me.
      </p>
    </div>

    <script>
      let app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })
    </script>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <script>
      let app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
          ]
        }
      })
    </script>
  </article>

  <article id="handling_user_input">
    <header>
      <h1>
        3. Handling User Input
      </h1>
    </header>

    <div id="app-5">
      <p>
        {{ message }}
      </p>
      <button v-on:click="reverseMessage">
        Reverse Message
      </button>
    </div>

    <script>
      let app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
    </script>

    <div id="app-6">
      <p>
        {{ message }}
      </p>
      <input v-model="message">
    </div>

    <script>
      let app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hello Vue!'
        }
      })
    </script>
  </article>

  <article id="composing_with_components">
    <header>
      <h1>
        4. Composing with Components
      </h1>
    </header>

    <div id="app-7">
      <ol>
        <!-- We need to provide each component with a "key". -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>

    <script>
      Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })

      let app7 = new Vue({
        el: '#app-7',
        data: {
          groceryList: [
            { id: 0, text: 'Vegetables' },
            { id: 1, text: 'Cheese' },
            { id: 2, text: 'Whatever else humans are supposed to eat' }
          ]
        }
      })
    </script>
  </article>
</body>
</html>
